################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp2/bin/scan/OTADfu_Console2.vshost.exe.manifest
